<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Predict</title>
        <link href="../static/index.css" rel="stylesheet">
    </head>
    <body>
        <div class="page-container">
            <nav>
                <div class="logo">ACTUARIAL<span>.</span></div>
                <div class="nav-links">
                    <a href="{{ url_for('index') }}#home">Home</a>
                    <a href="{{ url_for('index') }}#about">About</a>
                    <a href="{{ url_for('index') }}#contact">Contact</a>
                </div>
            </nav>
            <form class="inspect" action="{{ url_for('output') }}" method="POST">
                <h1>Insurance Beneficiary Forecasting</h1>
                <div class="inspect-details">
                    <div>
                        <label>Select Date: </label>
                    </div>
                    <div>
                        <input type="date" id="predict-date" name="input_date" required>
                    </div>
                </div>
                <button>Predict</button>
            </form>
            <footer class="inspect-footer">
                <div class="footer-container">
                    <div class="footer-left">
                        <h3>ACTUARIAL<span>.</span></h3>
                    </div>
                    <p>&copy; 2025 ACTUARIAL. All rights reserved.</p>
                    <div class="footer-right">
                        <a href="{{ url_for('index') }}#home">Home</a>
                        <a href="{{ url_for('index') }}#about">About</a>
                        <a href="{{ url_for('index') }}#contact">Contact</a>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>